<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bank_kill.mapper.KillRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bank_kill.model.KillRule">
        <id column="rule_id" property="ruleId" />
        <result column="limite_age" property="limiteAge" />
        <result column="limit_start_date" property="limitStartDate" />
        <result column="limit_overdue_time" property="limitOverdueTime" />
        <result column="limit_overdue_amount" property="limitOverdueAmount" />
        <result column="limit_overdue_frequency" property="limitOverdueFrequency" />
        <result column="limit_is_unemployment" property="limitIsUnemployment" />
        <result column="limit_is_black" property="limitIsBlack" />
        <result column="isDelete" property="isdelete" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rule_id, limite_age, limit_start_date, limit_overdue_time, limit_overdue_amount, limit_overdue_frequency, limit_is_unemployment, limit_is_black, isDelete, create_time, modify_time
    </sql>

</mapper>
